<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Portfolio{% endblock %}</title>
  <meta name="description"
    content="Lukas Schaffrath - Freiberuflicher Webentwickler aus Baesweiler bei Aachen – maßgeschneiderte Websites & nachhaltiger Code für kleine Unternehmen & Selbstständige">
  <link rel="stylesheet" href="assets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/site.webmanifest">
  <script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Lukas Schaffrath",
  "url": "https://www.lukasschaffrath.online",
  "image": "",
  "jobTitle": "Webentwickler, Lehrer für Gymnasien und Gesamtschulen"  
}
</script>
</head>

<body>
  {% include "partials/header.njk" %}

  <main id="main-content" class="main-content">
    {% block content %}{% endblock %}
  </main>

  {% include "partials/footer.njk" %}

  <script src="assets/script.js"></script>
</body>

</html>
