<section id="portfolio" class="section section-portfolio">
  <div class="container">
    <div class="section-header reveal-element">
      <h2 class="section-title">Portfolio</h2>
      <div class="section-line"></div>
    </div>
    <div class="portfolio-grid">

      <div class="portfolio-item reveal-element">
        <div class="portfolio-image">
          <img src="assets/img/anglistikweb.png" alt="Anglistik Web Screenshot">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-content">
              <h3>Anglistik Web</h3>
              <p>Sprechstunden- und Buchungssystem mit Login und Account-Verwaltung. Basierend auf Django und Python (in
                Entwicklung).</p>
              <a href="#portfolio" class="btn btn-small" target="_blank">Details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="portfolio-item reveal-element">
        <div class="portfolio-image">
          <img src="assets/img/clweb.png" alt="CL-Verkehrstechnik Screenshot">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-content">
              <h3>CL-Verkehrstechnik</h3>
              <p>Verkehrszeichenpläne und -technik. Klar, präzise, deutschlandweit, in reinem Vanilla Code.</p>
              <a href="https://www.cl-verkehrstechnik.de/" class="btn btn-small" target="_blank">Details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="portfolio-item reveal-element">
        <div class="portfolio-image">
          <img src="assets/img/lashesbydim.png" alt="Lashes by Dim Screenshot">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-content">
              <h3>Lashes by Dim</h3>
              <p>Interaktive Website für eine Wimpernstylistin</p>
              <a href="https://lashesbydim.de/" class="btn btn-small" target="_blank">Details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="portfolio-item reveal-element">
        <div class="portfolio-image">
          <img src="assets/img/benbachmair.png" alt="Ben Bachmair Screenshot">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-content">
              <h3>Ben-Bachmair</h3>
              <p>Website eines international renommierten Professors & Autors, basierend auf Vue.js.</p>
              <a href="http://ben-bachmair.de/" class="btn btn-small" target="_blank">Details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="portfolio-item reveal-element">
        <div class="portfolio-image">
          <img src="assets/img/kernbohrungen-guenther.png" alt="Kernbohrungen Günther Screenshot">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-content">
              <h3>Kernbohrungen Günther</h3>
              <p>Website eines Meisterbetriebs im Mauerwerks- und Betonbau, aufgebaut mit Eleventy und Nunjucks.</p>
              <a href="https://kernbohrungen-guenther.de/" class="btn btn-small" target="_blank">Details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="portfolio-item reveal-element">
        <div class="portfolio-image">
          <img src="assets/img/notion.png" alt="Notion Screenshot">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-content">
              <h3>Notion to Obsidian Transition Tool</h3>
              <p>Ein kleines Script, dass bei der Transition von Notion to Obsidian hilft, durch schlaue
                Dateikonvertierung.</p>
              <a href="https://github.com/LStoneyy/notion-to-obsidian-py" class="btn btn-small"
                target="_blank">Details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="portfolio-item reveal-element">
        <div class="portfolio-image">
          <img src="assets/img/webcommits.png" alt="webCommits Screenshot">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-content">
              <h3>webCommits</h3>
              <p>Die Seite der besten Webentwickler.</p>
              <a href="https://webcommits.github.io/webcommits-website/" class="btn btn-small"
                target="_blank">Details</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
