/* Catppuccin Theme Variables */

/* Latte (Light) */
.theme-latte {
  --bg: #eff1f5;
  --fg: #4c4f69;
  --surface0: #ccd0da;
  --surface1: #bcc0cc;
  --surface2: #acb0be;
  --overlay0: #9ca0b0;
  --overlay1: #8c8fa1;
  --overlay2: #7c7f93;
  --subtext0: #6c6f85;
  --subtext1: #5c5f77;
  --text: #4c4f69;
  --lavender: #7287fd;
  --blue: #1e66f5;
  --sapphire: #209fb5;
  --sky: #04a5e5;
  --teal: #179299;
  --green: #40a02b;
  --yellow: #df8e1d;
  --peach: #fe640b;
  --maroon: #e64553;
  --red: #d20f39;
  --mauve: #8839ef;
  --pink: #ea76cb;
  --flamingo: #dd7878;
  --rosewater: #dc8a78;
  --crust: #dce0e8;
  --mantle: #e6e9ef;
  --base: #eff1f5;
}

/* Frappe (Medium Dark) */
.theme-frappe {
  --bg: #303446;
  --fg: #c6d0f5;
  --surface0: #414559;
  --surface1: #51576d;
  --surface2: #626880;
  --overlay0: #737994;
  --overlay1: #838ba7;
  --overlay2: #949cbb;
  --subtext0: #a5adce;
  --subtext1: #b5bfe2;
  --text: #c6d0f5;
  --lavender: #babbf1;
  --blue: #8caaee;
  --sapphire: #85c1dc;
  --sky: #99d1db;
  --teal: #81c8be;
  --green: #a6d189;
  --yellow: #e5c890;
  --peach: #ef9f76;
  --maroon: #ea999c;
  --red: #e78284;
  --mauve: #ca9ee6;
  --pink: #f4b8e4;
  --flamingo: #eebebe;
  --rosewater: #f2d5cf;
  --crust: #232634;
  --mantle: #292c3c;
  --base: #303446;
}

/* Macchiato (Dark) */
.theme-macchiato {
  --bg: #24273a;
  --fg: #cad3f5;
  --surface0: #363a4f;
  --surface1: #494d64;
  --surface2: #5b6078;
  --overlay0: #6e738d;
  --overlay1: #8087a2;
  --overlay2: #939ab7;
  --subtext0: #a5adcb;
  --subtext1: #b8c0e0;
  --text: #cad3f5;
  --lavender: #b7bdf8;
  --blue: #8aadf4;
  --sapphire: #7dc4e4;
  --sky: #91d7e3;
  --teal: #8bd5ca;
  --green: #a6da95;
  --yellow: #eed49f;
  --peach: #f5a97f;
  --maroon: #ee99a0;
  --red: #ed8796;
  --mauve: #c6a0f6;
  --pink: #f5bde6;
  --flamingo: #f0c6c6;
  --rosewater: #f4dbd6;
  --crust: #181926;
  --mantle: #1e2030;
  --base: #24273a;
}

/* Mocha (Darkest) */
.theme-mocha {
  --bg: #1e1e2e;
  --fg: #cdd6f4;
  --surface0: #313244;
  --surface1: #45475a;
  --surface2: #585b70;
  --overlay0: #6c7086;
  --overlay1: #7f849c;
  --overlay2: #9399b2;
  --subtext0: #a6adc8;
  --subtext1: #bac2de;
  --text: #cdd6f4;
  --lavender: #b4befe;
  --blue: #89b4fa;
  --sapphire: #74c7ec;
  --sky: #89dceb;
  --teal: #94e2d5;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --peach: #fab387;
  --maroon: #eba0ac;
  --red: #f38ba8;
  --mauve: #cba6f7;
  --pink: #f5c2e7;
  --flamingo: #f2cdcd;
  --rosewater: #f5e0dc;
  --crust: #11111b;
  --mantle: #181825;
  --base: #1e1e2e;
}

/* Global Theme Application */
body {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 2rem;
  transition: background-color 0.8s ease, color 0.8s ease;
}

* {
  box-sizing: border-box;
}
