{% extends "base.njk" %}

{% block title %}Portfolio | Home{% endblock %}

{% block content %}
  {% include "sections/hero.njk" %}
  {% include "sections/about.njk" %}
  {% include "sections/resume.njk" %}
  {% include "sections/portfolio.njk" %}
  {% include "sections/contact.njk" %}
{% endblock %}